<html ng-app>
<head>
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	<script src="http://apps.bdimg.com/libs/angular.js/1.0.4/angular.js"></script>
</head>

<body ng-controller="TaskController">

<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">task</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">主页</a></li>
                <li><a href="/task/new-task">创建任务</a></li>
                <li><a href="/task/my-tasks">我的任务</a></li>
                <li><a href="/static/ng.html">angular版</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        TODO<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/change-password">更新密码</a></li>
                        <li><a href="/logout">退出</a></li>
                    </ul>
                </li>
                <li><a href="/login">登录TODO</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        TODO
    </div>
    <div class="page-header">
        <h2>我的任务</h2>
    </div>
    <div class="row">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                排序
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="loadtasks(0)">最新</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="loadtasks(1)">最早</a></li>
            </ul>
        </div>
    </div>
    <button ng-click="deletetask(0)">delete</button>
    <button ng-click="addtask()">add</button>
    <span>{{result}}</span>
    <div class="row">
        <div class="col-md-8">
            <table class="table table-hover">
                <thread>
                    <tr>
                        <th>任务</th>
                        <th>时间</th>
                        <th>管理</th>
                    </tr>
                </thread>
                <tbody>
                    <tr ng-repeat="task in tasks">
                        <td><a href="#">{{task.title}}</a></td>
                        <td>{{task.timestamp}}</td>
                        <td><a href="#" ng-click="deletetask($index)">删除</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        function TaskController($scope, $http) {
            $scope.loadtasks = function(v) {
                    $http.get('/tasks/', {params: {order: v}}).success(function(data, status, headers, config) {
                    $scope.tasks = data.tasks;
                })
            }
            $scope.addtask = function() {
                var postData = {
                    title: 'hello, angular',
                    body: 'None'}
                $http.post('/tasks/', postData).success(function(data, status, headers, config) {
                    $scope.loadtasks(0);
                })
            }
            $scope.deletetask = function(index) {
                $http.delete('/tasks/' + $scope.tasks[index].id).success(function(data, status, headers, config) {
                    $scope.loadtasks(0);
                })
            }
            $scope.tasks = $scope.loadtasks(0)
        }
    </script>
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </div>
</body>
</html>
