{% import "_macros.html" as macros %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type=text/javascript>$SCRIPT_ROOT = "";</script>
</head>

{{ moment.include_moment() }}

<body>
<script type="text/javascript">
    $(function() {
        $('input[name="submit"]').bind('click', function() {
            $.getJSON($SCRIPT_ROOT + '/submit', {
                author: $('input[name="author"]').val(),
                message: $('textarea#message').val()
            }, function(data) {
                window.location.reload()
            });
        return false;
        });
    });
</script>
    <div id="header"></div>
    <div id="mainbody" >
        <form action="" method="post" class="elegant-aero">
            <h1>留言薄</h1>
            <label>
                <span>姓名：</span>
                <input id="name" type="text" name="author" placeholder="你的名字？" />
            </label>
            <label>
                <span>内容：</span>
                <textarea id="message" name="message" placeholder="有啥想说的？"></textarea>
            </label>
            <label>
                <span>&nbsp;</span>
                <input type="button" class="button" value="Send" name="submit"/>
            </label>
        </form>
        <div id="history" class="elegant-aero-history">
            <h2>留言历史信息</h2>
            <ul>
            {% for message in messages %}
                    <li>
                        <b>{{ message.author }}</b>&nbsp&nbsp留言于&nbsp&nbsp({{ moment(message.timestamp).fromNow() }}):
                        <ul>
                            <li>{{ message.message }}</li>
                        </ul>
                    </li>
                <br />
            {% endfor %}
            </ul>
            {% if pagination %}
            <div class="pagination">
                {{ macros.pagination_widget(pagination, '.index') }}
            </div>
            {% endif %}
        </div>
    </div>
    <div id="footer"></div>
</body>
</html>